#menu {
    .active {
        background-color: #c5d9ed;
        &:hover {
            background-color: #9dc0e3;
        }
    }
    #home-link {
        background-color: transparent;
        &:hover {
            background-color: transparent;
        }
    }
    .icon-menu {
        min-width: 45px;
    }
}

#tooltip-submenu {
    .active > div {
        background-color: #c5d9ed;
        &:hover {
            background-color: #9dc0e3;
        }
    }
}
